spring:
  profiles:
    active: local
    group:
      local: local, common, secret
      blue: blue, common, secret
      green: green, common, secret

server:
  env: blue

---

spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  serverAddress: 13.124.250.233

serverName: blue_server

---

spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  serverAddress: 13.124.250.233

serverName: green_server

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  serverAddress: localhost

serverName: local_server

---

spring:
  config:
    activate:
      on-profile: common
  application:
    name: parkingplace
  sql:
    init:
      mode: never
  servlet:
    multipart:
      enabled: true
      location: c:/parpleImage
      max-request-size: 30MB
      max-file-size: 10MB

parple:
  upload:
    path: c:/parpleImage
    virtual: /images
  file:
    prefix: file:///

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace